.container {
    min-height:450px;
    min-width: 450px;
    background-color: rgb(95, 170, 189);
    padding: 2rem;
    border-radius: 20px;
    margin-top: 20px;
}
.social {
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
}

