* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right,   #FF8C66, #E83E8C);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: black;
}