button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}
#clear-btn {
    background-color: #FFFFFF;
    color: #86349f;
}
#clear-btn:hover {
    background-color: #e5e4e4;
    transition: 2s;
}
#calc-btn {
    background-color: #673576;
    color: #FFFFFF
}
#calc-btn:hover {
    background-color: #3d2046;
    transition: 2s;
}
#back-btn {
    background-color: rgb(255, 36, 36);
    border-radius: 10px;
}
