button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}
#clear-btn {
    background-color: #fffefe;
}
#calc-btn {
    background-color: green;
}
#back-btn {
    background-color: rgb(255, 36, 36);
    border-radius: 10px;
}
