#main-calc h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.controle-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
}

.controle-form label {
  font-weight: bold;
  color: #000;
  height: 10vh;
}

.controle-form input {
  padding: 1rem 0.5rem;
  color: #7b1083;
}

.button-action {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
#height {
  width: 23.4vw;
  height: 7vh;
  border-radius: 10px;
  border: none;
}
#weight {
  width: 23.8vw;
  height: 7vh;
  border-radius: 10px;
  border: none;
}

#calc-btn {
    border-radius: 10px;
}
#clear-btn {
    border-radius: 10px;
}
.button-action {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 375px) and (max-width: 667px) {
  #weight {
    width: 62vw;
  }
  #height {
    width: 62vw;
  }
  
}
