#main-calc {
    text-align: center;
    margin-bottom: 2rem;
    
   
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.controle-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.controle-form input {
    padding: 1rem, 1.5rem;
}

.controle-form label {
    font-weight: bold;
    margin-bottom: .6rem;
    color: #000;
}

#altura {
    width: 15vw;
    height: 5vh;
}
#peso {
    width: 15vw;
    height: 5vh;
}