.logo img {
    width: 15vw;
    display: flex;
    margin: 0 auto;
    margin-top: -3rem;
}
@media (max-width: 480px) {
    .logo img {
        width: 50vw;
        margin-top: -1rem;
        margin-bottom: 8rem;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .logo img {
        width: 50vw;
        margin-top: -2rem;
        margin-bottom: 8rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .logo img {
        width: 40vw;
        margin-top: -2rem;
        margin-bottom: 8rem;
    }
}
@media (min-width: 1025px) {
    .logo img {
        width: 15vw;
        margin-top: -3rem;
        margin-bottom: 8rem;
    }
}