.social-main a{
    text-decoration: none;
    color: inherit;
    display: inline;
    margin-top: 2rem;
}
.social-main {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0 auto;
}
#instagram {   background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285AEB 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform .2s ease, filter .2s ease;
}
.social-main .bi-linkedin {
  font-size: 50px;
  color: #0c87ca;
}
.social-main .bi-instagram {
  font-size: 50px; 
  color: #682357;
}
.social-main .bi-github {
  font-size: 50px; 
  color: #ffffff;
}
.social-main .bi-linkedin:hover {
  color: #0a608f; 
  text-shadow: 0 0 4px; 
  transition: 1s;
}
.social-main .bi-instagram:hover {
  text-shadow: 0 0 43px;  
}
.social-main .bi-github:hover {
  color: #333333; 
  text-shadow: 0 0 1px; 
  transition: 1s;
}

@media (max-width: 480px) {
  .social-main .bi-github {
    font-size: 60px;
  }
  .social-main .bi-instagram {
    font-size: 60px;
  }
  .social-main .bi-linkedin {
    font-size: 60px;
  }
  .social-main a {
    margin-top: 10rem;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .social-main .bi-github {
    font-size: 60px;
  }
  .social-main .bi-instagram {
    font-size: 60px;
  }
  .social-main .bi-linkedin {
    font-size: 60px;
  }
  .social-main a {
    margin-top: 10rem;
  }
}@media (min-width: 768px) and (max-width: 1024px) {
  .social-main .bi-github {
    font-size: 60px;
  }
  .social-main .bi-instagram {
    font-size: 60px;
  }
  .social-main .bi-linkedin {
    font-size: 60px;
  }
  .social-main a {
    margin-top: 10rem;
  }
}
@media (min-width: 1025px) {
  .social-main .bi-github {
    font-size: 60px;
  }
  .social-main .bi-instagram {
    font-size: 60px;
  }
  .social-main .bi-linkedin {
    font-size: 60px;
  }
  .social-main a {
    margin-top: 5rem;
  }
}

